*~
.DS_Store
.tmp
tmp
.idea
nbproject
*.log
*.lock
*.sqlite
*.sqlite-journal
*.ipynb

.venv
*.pyc
*.pyo
*.pyd
*.pya
*.pyi
*.rej
*.bak
*.swp

.claude/

# large files
python/decomp-hacks/

# npm module
pokedata3g/